
@{
    ViewBag.Title = "Index";
}

@section scripts {

    <script type="text/javascript">

        function päivitäAsiakaslistaus() {
            $.getJSON("/henkilot/getlist", null, function (json) {
                var henkilot = JSON.parse(json);
                //alert("henkilöiden lkm: " + henkilot.length);

                var html = "";
                for (var index = 0; index < henkilot.length; index++) {
                    html += "<tr>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil'></span></a></td>" +
                        "<td>" + henkilot[index].Henkiloid + "</td>" +
                        "<td>" + henkilot[index].Nimi + "</td>" +
                        "<td>" + henkilot[index].Sukunimi + "</td>" +
                        "<td>" + henkilot[index].Katuosoite + "</td>" +
                        "<td>" + henkilot[index].Esimies + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-trash'></span></a></td>" +
                        "</tr>\r\n";
                }

                $("#henkiloList tbody").html(html);


                // tietojen muokkaus
                $(".glyphicon-pencil").click(function () {
                    //etsitään asiakkglyphicon-pencilaan tiedot klikatulta riviltä
                    var henkiloid = $(this).parent().parent().next().text();

                    //alert(Henkiloid);

                    // haetaan asiakkaan tiedot id:n perusteella
                    $.getJSON("/henkilot/getsinglehenkilo/" + henkiloid, null, function (json2) {
                        var henkilot = JSON.parse(json2);

                        // kopioidaan tiedot ikkunaan
                        $("#henkiloModal_Hid").val(henkilot.Henkiloid);
                        $("#henkiloModal_HNimi").val(henkilot.Nimi);
                        $("#henkiloModal_HSuku").val(henkilot.Sukunimi);
                        $("#henkiloModal_Osoite").val(henkilot.Katuosoite);
                        $("#henkiloModal_Enen").val(henkilot.Esimies);

                        // näytetään ikkuna
                        $("#henkiloModalTitle").text("Muokkaa tietoja");
                        $("#henkiloModalDialog").modal("show");
                    });
                });

                // tietojen poisto
                $(".glyphicon-trash").click(function () {
                    // etsitään asiakkaan tiedot klikatulta riviltä
                    console.log("Poistoa klikattu");
                    var henkiloid = $(this).parent().parent().prev().prev().prev().prev().prev().text();
                    var ok = confirm("Haluatko varmasti poistaa tiedon " + henkiloid + "?");

                    if (ok == true) {
                        $.getJSON("/henkilot/delete/" + henkiloid, null, function (status) {
                            if (status == true) {
                                alert("Tieto on poistettu!");
                                päivitäAsiakaslistaus();
                            }
                            else {
                                alert("Poistaminen ei onnistunut, yritä uudelleen!");
                            }
                        });
                    }
                });
            });
        }

        // sivun alustaminen
        $(function () {
            päivitäAsiakaslistaus();

            $("#addNewHenkiloButton").click(function () {

                // tyhjennetään ikkunan tiedot
                $("#henkiloModal_Hid").val("");
                $("#henkiloModal_HNimi").val("");
                $("#henkiloModal_HSuku").val("");
                $("#henkiloModal_Osoite").val("");
                $("#henkiloModal_Enen").val("");

                // näytetään ikkuna
                $("#henkiloModalTitle").text("Muokkaa tietoja");
                $("#henkiloModalDialog").modal("show");
            });

            $("#henkiloModalSaveButton").click(function () {
                // luetaan käyttäjän syöttämät kentät
                var details = {
                    Henkiloid: $("#henkiloModal_Hid").val(),
                   Nimi: $("#henkiloModal_HNimi").val(),
                    Sukunimi: $("#henkiloModal_HSuku").val(),
                    Katuosoite: $("#henkiloModal_Osoite").val(),
                    Esimies: $("#henkiloModal_Enen").val(),
                };

                $.post("/henkilot/update/", details, function (status) {
                    if (status == true) {
                        alert("Uudet tiedot tallennettu!");
                        $("#henkiloModalDialog").modal("hide");
                        päivitäAsiakaslistaus();
                    }
                    else {
                        alert("Tallennus ei onnistunut, yritä uudelleen!");
                    }
                });
            });

            console.log("Alustus valmis!");
        });
    </script>

}

<h2>Asiakkaat, dynaaminen tapa Ajaxilla</h2>

<button class="btn btn-default" id="addNewHenkiloButton">Lisää uusi henkilö</button>

<table class="table table-striped" id="henkiloList">
    <thead>
        <tr>
            <th></th>
            <th>Henkilötunniste</th>
            <th>Työntekijän etunimi</th>
            <th>Työntekijän sukunimi</th>
            <th>Osoite</th>
            <th>Esimies nro</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="henkiloModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="henkiloModalTitle">Muokkaa tietoa</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">Tunniste</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Hid" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Etunimi</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_HNimi" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Sukunimi</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_HSuku" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Postitoiminumero</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Osoite" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Esimies nro</div>
                    <div class="col-md-6"><input class="form-control" id="henkiloModal_Enen" type="text"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                <button type="button" class="btn btn-primary" id="henkiloModalSaveButton">Tallenna</button>
            </div>

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div><!-- /.modal -->
