
@{
    ViewBag.Title = "Index";
}

@section scripts {

    <script type="text/javascript">

        function päivitäAsiakaslistaus() {
            $.getJSON("/Tunnit/getlist", null, function (json) {
                var tunnit = JSON.parse(json);
                //alert("henkilöiden lkm: " + henkilot.length);

                var html = "";
                for (var index = 0; index < tunnit.length; index++) {
                    html += "<tr>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-pencil'></span></a></td>" +
                        "<td>" + tunnit[index].Tunnitid + "</td>" +
                        "<td>" + tunnit[index].Projektiid + "</td>" +
                        "<td>" + tunnit[index].Henkiloid + "</td>" +
                        "<td>" + tunnit[index].Pvm + "</td>" +
                        "<td>" + tunnit[index].Tunnit1 + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-trash'></span></a></td>" +
                        "</tr>\r\n";
                }

                $("#tunnitList tbody").html(html);


                // tietojen muokkaus
                $(".glyphicon-pencil").click(function () {
                    //etsitään asiakkglyphicon-pencilaan tiedot klikatulta riviltä
                    var tunnitid = $(this).parent().parent().next().text();

                    //alert(Henkiloid);

                    // haetaan asiakkaan tiedot id:n perusteella
                    $.getJSON("/tunnit/getsingletunnit/" + tunnitid, null, function (json2) {
                        var tunnit = JSON.parse(json2);

                        // kopioidaan tiedot ikkunaan
                        $("#tunnModal_tid").val(tunnit.Tunnitid);
                        $("#tunnModal_pid").val(tunnit.Projektiid);
                        $("#tunnModal_hid").val(tunnit.Henkiloid);
                        $("#tunnModal_pvm").val(tunnit.Pvm);
                        $("#tunnModal_tunn").val(tunnit.Tunnit1);

                        // näytetään ikkuna
                        $("#tunnModalTitle").text("Muokkaa tietoja");
                        $("#tunnModalDialog").modal("show");
                    });
                });

                // tietojen poisto
                $(".glyphicon-trash").click(function () {
                    // etsitään asiakkaan tiedot klikatulta riviltä
                    console.log("Poistoa klikattu");
                    var tunnitid = $(this).parent().parent().prev().prev().prev().prev().prev().text();
                    var ok = confirm("Haluatko varmasti poistaa tiedon " + tunnitid + "?");

                    if (ok == true) {
                        $.getJSON("/tunnit/delete/" + tunnitid, null, function (status) {
                            if (status == true) {
                                alert("Tieto on poistettu!");
                                päivitäAsiakaslistaus();
                            }
                            else {
                                alert("Poistaminen ei onnistunut, yritä uudelleen!");
                            }
                        });
                    }
                });
            });
        }

        // sivun alustaminen
        $(function () {
            päivitäAsiakaslistaus();

            $("#addNewTunnitButton").click(function () {

                // tyhjennetään ikkunan tiedot
                $("#tunnModal_tid").val("");
                $("#tunnModal_pid").val("");
                $("#tunnModal_hid").val("");
                $("#tunnModal_pvm").val("");
                $("#tunnModal_tunn").val("");

                // näytetään ikkuna
                $("#tunnModalTitle").text("Muokkaa tietoja");
                $("#tunnModalDialog").modal("show");
            });

            $("#tunnModalSaveButton").click(function () {
                // luetaan käyttäjän syöttämät kentät
                var details = {
                    Tunnitid: $("#tunnModal_tid").val(),
                   Projektiid: $("#tunnModal_pid").val(),
                    Henkiloid: $("#tunnModal_hid").val(),
                    Pvm: $("#tunnModal_pvm").val(),
                    Tunnit1: $("#tunnModal_tunn").val(),
                };

                $.post("/tunnit/update/", details, function (status) {
                    if (status == true) {
                        alert("Uudet tiedot tallennettu!");
                        $("#tunnModalDialog").modal("hide");
                        päivitäAsiakaslistaus();
                    }
                    else {
                        alert("Tallennus ei onnistunut, yritä uudelleen!");
                    }
                });
            });

            console.log("Alustus valmis!");
        });
    </script>

}

<h2>Asiakkaat, dynaaminen tapa Ajaxilla</h2>

<button class="btn btn-default" id="addNewTunnitButton">Lisää uudet työtunnit</button>

<table class="table table-striped" id="tunnitList">
    <thead>
        <tr>
            <th></th>
            <th>Tunnittunniste</th>
            <th>Projektitunniste</th>
            <th>Henkilötunniste</th>
            <th>PVM</th>
            <th>Tunnit</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" tabindex="-1" role="dialog" id="tunnModalDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="tunnModalTitle">Muokkaa tietoa</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">Tunnittunniste</div>
                    <div class="col-md-6"><input class="form-control" id="tunnModal_tid" type="text" readonly></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Projektitunniste</div>
                    <div class="col-md-6"><input class="form-control" id="tunnModal_pid" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Henkilötunniste</div>
                    <div class="col-md-6"><input class="form-control" id="tunnModal_hid" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">PVM</div>
                    <div class="col-md-6"><input class="form-control" id="tunnModal_pvm" type="text"></div>
                </div>
                <div class="row">
                    <div class="col-md-3">Tunnit</div>
                    <div class="col-md-6"><input class="form-control" id="tunnModal_tunn" type="text"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                <button type="button" class="btn btn-primary" id="tunnModalSaveButton">Tallenna</button>
            </div>

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div><!-- /.modal -->
