@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Home</title>
    <style>
        body {
            background-color: rgb(240,240,240);
        }
    </style>
</head>
<body>
    <div class="container col-md-12">
        <div class="jumbotron w3-card">
            <div>
                <h1 style="color:white; font-family:'Baskerville Old Face'; font-size:80px ; text-align: center; margin:50px;">
                    Tehtävä WebApp
                </h1>
            </div>
        </div>
        <div class="container-display">
            <div class="col-md-4">
                <h2 style="font-family:'Baskerville Old Face'; font-size:25px">Henkilölista</h2>
                <p style="font-family:'Baskerville Old Face'; font-size:10px"><a class="btn btn-default" href="http://localhost:61075/Henkilot/Index">Henkilöt &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="font-family:Baskerville Old Face; font-size:25px;">Projektit</h2>
                <p style="font-family:'Baskerville Old Face'; font-size:10px"><a class="btn btn-default" href="http://localhost:61075/Projektit/Index">Projektit &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2 style="font-family:'Baskerville Old Face'; font-size:25px">Työtuntien syöttäminen</h2>
                <p style="font-family:'Baskerville Old Face'; font-size:10px"><a class="btn btn-default" href="http://localhost:61075/Tunnit/Index">Tunnit &raquo;</a></p>
            </div>
        </div>
        <div class="w3-card">
            <img src="~/Images/typewriter-1248088_1280.jpg" alt="Kirjoituskone" style="width:100%">
        </div>
    </div>
</body>